* {
    text-decoration: none;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.container-fluid {
    min-height: 3.5em;
    min-width: 200px;
}

/* Media queries */
@media (max-width: 575.98px) { 
    .img-fluid {
        max-width: 50%;
        height: auto;
        margin-left: 25%;
     }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .img-fluid {
        max-width: 50%;
        height: auto;
        margin-left: 25%;
     }
	
 }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .img-fluid {
       max-width: 50%;
       height: auto;
       margin-left: 25%;
    }
}
/* Extra large devices */
@media (min-width: 1200px) {
	.img-fluid {
        margin-left: 2%;
        max-width: 100%;
        height: auto;
       
     }
}
