/* :root {
    font-size: 62.5%;
} */
/* .firstMosquito {
    width: 5rem;
    height: 5rem;
} */
html {
    cursor: url(../imagens/mata_mosca.png) 30 30, auto;
}
body {
    background:url(../imagens/bg.jpg) no-repeat;
    background-size: cover;
  
}
.testbox {
    width: 50px;
    height: 50px;
}
.firstMosquito {
    width: 50px;
    height: 50px;
}
.secondMosquito {
    width: 70px;
    height: 70px;
}
.thirdMosquito {
    width: 90px;
    height: 90px;

}
.ladoA {
    transform: scaleX(1);
    /* define a escala do plano horizontal em 1 ou seja não vai mudar nada */
}

.ladoB {
    transform: scaleX(-1)
    /* define a escala do plano horizontal em 2, virando o lado    (flip na horizontal )*/
}
.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid white;
    background-color: #fff;
    opacity: 0.7;
}
.vidas {
    float: left;
}
.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

